.header {
  max-width: 880px;
  width: 100%;
  height: 74px;

  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  row-gap: 32px;
}
.header__logo {
  max-width: 173px;
  max-height: 33px;

  min-width: 126px;
  min-height: 24px;
}

.header__line {
  max-width: 880px;
}

@media (max-width: 1024px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media (max-width: 544px) {
  .header {
    padding-top: 28px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
