.content {
  max-width: 880px;
  margin-top: 40px;
  margin: 0 auto;
}

.profile {
  max-width: 880px;
  width: 100%;
  margin: 40px auto 50px;
  display: grid;
  grid-template-areas:
    "picture gap1 name edit add"
    "picture gap1 description description add";
  grid-template-columns: 120px 30px 373px 24px auto;
  grid-template-rows: 60px 60px;
  row-gap: 16px;
}
.profile__picture {
  margin: 0;
  grid-area: picture;
}

.profile__name {
  grid-area: name;
  color: #fff;
  max-width: 373px;
  width: 100%;
  margin: 0;
  align-self: flex-end;

  font-weight: 500;
  font-size: 42px;
  line-height: 48px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit {
  grid-area: edit;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../images/profile/edit__button.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 7px;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__description {
  grid-area: description;
  color: #fff;
  margin: 0;
  max-width: 415px;
  height: 22px;

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__card-add {
  grid-area: add;
  max-width: 150px;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  background-image: url(../images/profile/add__button.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  align-self: center;
}

.profile__add:hover {
  opacity: 0.6;
}

@media (max-width: 730px) {
  .content {
    max-width: 730px;
    width: 100%;
    margin: 42px auto 36px;
  }

  .profile {
    grid-template-areas:
      "picture picture"
      "gap1 gap1"
      "name edit"
      "gap2 gap2"
      "description description"
      "gap3 gap3"
      "add add";

    grid-template-rows: 120px 30px 22px 14px 14px 36px 50px;
    grid-template-columns: 252px 30px;

    align-items: center;
    width: 282px;
    width: 100%;
    height: 286px;

    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .profile__picture {
    grid-area: picture;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 0;
  }

  .profile__name {
    grid-area: name;
    max-width: 196px;

    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    justify-self: center;
    text-align: center;
  }

  .profile__edit {
    width: 18px;
    height: 18px;
    margin: 0;
  }

  .profile__description {
    justify-self: center;
    align-self: baseline;
    font-size: 14px;
  }

  .profile__add {
    grid-area: add;
    background-image: url(../images/profile/add__button-mobile.png);
    max-width: 282px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
}
